.main-container {
  width: 90%;
  overflow: scroll;
  height: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 16px 0;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table tr:hover {
  background-color: #d4f0fd;
}

table th,
table td {
  text-align: center;
  width: 25%;
  padding: 15px 0;
  overflow-wrap: break-word;
}

.name-input {
  width: 100%;
  background-color: #fff;
  font-size: 1.5rem;
  padding: 4px;
}

.submit-btn {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #fff;
  background-color: #03963D;
  text-align: center;
}

.delete-btn {
  background-color: #DC047F;
  width: 8rem;
  padding: 8px 0;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
}
